@import '../../styles/variables.scss';

.event-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__field {
    margin: 8px;
    height: 30px;
    border: none;
    outline: none;
    text-overflow: ellipsis;
    color: $main-font-color;
    transition: border-bottom 0.3s;

    &:focus {
      border-bottom: 3px solid $main-color;
    }
  }

  &__time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $main-font-color;
  }

  &__desc {
    resize: none;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;

    &_filled {
      justify-content: space-around;
    }
  }

  &__change-btn {
    width: 120px;
    border: none;
    background-color: $main-color;
    color: #fff;

    &_working {
      animation: move 0.3s;
    }
  }

  &__remove-btn {
    width: 120px;
    border: none;
    color: #fff;
    background-color: #ff7171;
  }
}
