$main-color: #9171ff;
$red-color: #ff7171;
$white-color: #ffffff;
$grey-color: #cccccc66;
$main-font-color: #2b292dcc;
$shadow-preset: -1px 3px 6px 0px #0000000d, 0px 1px 16px 0px #0000001a,
  0px 1px 0px 0px #ffffff1a inset;
