@import '../../styles/variables.scss';

.calendar {
  display: flex;
  flex-direction: column;

  &__week-container {
    display: flex;
    width: 100%;
  }

  &__week {
    display: flex;
    flex: 1;
    border-top: 1px solid $grey-color;
  }
}
