.calendar {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  &__body {
    display: flex;
    overflow: auto;
  }
}
