@import '../../styles/variables.scss';

.calendar {
  &__header {
    display: flex;
    padding: 0 0 0 65px;
    height: 100px;
  }
}

.day-label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  opacity: 0.7;

  &__day-name {
    font-size: 12px;
    text-transform: uppercase;

    &_current {
      color: $main-color;
    }
  }

  &__day-number {
    margin: 3px 0 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 26px;
    font-weight: 700;
    text-align: center;

    &_current {
      border-radius: 50%;
      background-color: $main-color;
      color: #fff;
    }
  }
}
