.event {
  position: absolute;
  width: 80%;
  background-color: #372be299;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &:hover {
    background-color: #ff000066;
  }
}

.delete-event-btn {
  border: none;
}
