@import '../../styles/variables.scss';

.event {
  position: absolute;
  z-index: 1;
  padding: 8px;
  width: 85%;
  border-bottom: 1px solid $white-color;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  background-color: $main-color;
  color: $white-color;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &__title {
    margin-bottom: 8px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__description {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    &::first-letter {
      text-transform: capitalize;
    }
  }
}
