@import '../../styles/variables.scss';

.alert {
  position: fixed;
  z-index: 5;
  right: 50px;
  padding: 10px 20px;
  border-radius: 10px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: $shadow-preset;
  background-color: $red-color;
  color: $white-color;
  animation: show 8s forwards;
}

@keyframes show {
  0% {
    opacity: 1;
    bottom: -50px;
  }

  5% {
    bottom: 30px;
  }

  100% {
    opacity: 0;
  }
}
