@import '../../styles/variables.scss';

.calendar {
  &__day {
    position: relative;
    flex: 1;
    border-left: 1px solid $grey-color;
  }
}

.red-line {
  position: absolute;
  z-index: 2;
  width: 100%;
  border-top: 2px solid #f00;

  &__circle {
    position: absolute;
    top: -6.5px;
    left: -6.5px;
    color: #f00;
    font-size: 12px;
  }
}
